p
{
    background-color: antiquewhite;
    color:rgb(24, 24, 34);
    font-size: large;
    font-weight: italic;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}